<dialog id="delete-dialog" th:fragment="deleteDialog">
  <p class="dialog-header">
    <span class="delete-member-name"></span>&nbspentfernen
  </p>
  <p class="warning-text">„Achtung! Durch das Löschen wird <span class="delete-member-name"></span>&nbspunwiderruflich
    aus dem System entfernt. Diese Aktion kann nicht rückgängig gemacht werden.“</p>
  <p class="btn-wrapper">
    <a href="#">
      <button class="btn-cancel-red close-dialog">Abbrechen</button>
    </a>

    <a class="delete-member-id" th:href="@{'/sql/remove/'}">
      <button class="btn-delete">Löschen</button>
    </a>
  </p>
</dialog>